.Home{
    background-image: url(../imges/banner-1.jpg);
    background-size:cover;
    min-height: 100vh;
    background-position: 100% 100%;
}
header .Home .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, .8);
}
/*  */
.home-content button {
    background-color:#f5d76e !important ;
    font-family: cursive;
    font-size: smaller;
}
.home-content {
    transform: translateY( 50% );
    font-family: cursive;
}
.home-content button{
    font-size: 10px !important;
    padding: 13px;
    width: 18%;
}
.home-content button:hover{
    background-color: black !important;
    transition: 0.2s all;
    color: white !important;
    border-radius: 5px;
}